<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
	{% block head %}{% endblock %}
  </head>
  <body><div id="mySidebar" class="sidebar">
			<svg height="130" width="800">
				<defs>
					<linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
							<stop offset="0%" style="stop-color:rgb(0,0,100);stop-opacity:1" />
							<stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
					</linearGradient>
				</defs>
				<ellipse cx="115" cy="70" rx="85" ry="55" fill="url(#grad1)" />
				<text fill="#ffffff" font-size="45" font-family="Verdana" x="50" y="86">YEETS</text>
			</svg>

			{% block nav %}{% endblock %}

			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		</div>
		<div id="main">
			<button class="openbtn" onclick="openNav()" on-double-tap="closeNav()">&#9776;</button>
		</div>
		<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
		{% block body %}{% endblock %}
  </body>
</html>
